In [1]:
import pandas as pd
from datetime import datetime

In [2]:
pip install SQLAlchemy psycopg2

Requirement already satisfied: SQLAlchemy in c:\users\kalairaj\appdata\local\programs\python\python312\lib\site-packages (2.0.41)
Requirement already satisfied: psycopg2 in c:\users\kalairaj\appdata\local\programs\python\python312\lib\site-packages (2.9.10)
Requirement already satisfied: greenlet>=1 in c:\users\kalairaj\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kalairaj\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Establishing a direct connection to the PostgreSQL database using psycopg2

import psycopg2

connection = psycopg2.connect(
    host="localhost",
    database="client_support_query",
    user="postgres",              
    password="8098086631"
)

cursor = connection.cursor()

In [ ]:
# Loaded data from a Google Sheets CSV export into a pandas DataFrame

sheet_id = "1KNDcf56n6gUf_zla4uLJqELVFb_c8mDi"
sheet_name = "synthetic_client_queries"

url = f"https://drive.google.com/uc?export=download&id={'1KNDcf56n6gUf_zla4uLJqELVFb_c8mDi'}"

df = pd.read_csv(url)

In [ ]:
# Created a SQLAlchemy engine to connect to the PostgreSQL database

from sqlalchemy import create_engine, inspect

db_url = "postgresql+psycopg2://postgres:8098086631@localhost:5432/client_support_query"
engine = create_engine(db_url)

In [6]:
df

,query_id,client_email,client_mobile,query_heading,query_description,status,date_raised,date_closed
0,Q0001,joshuaoneill@example.net,6638686049,Bug Report,Tab focus jumps incorrectly.,Closed,2025-02-26,2025-02-27
1,Q0002,edward91@example.net,6369365581,Bug Report,Form validation not working properly.,Closed,2025-07-22,2025-08-01
2,Q0003,cookmason@example.org,2686615523,Account Suspension,Need help lifting restrictions.,Closed,2025-06-18,2025-06-19
3,Q0004,wtaylor@example.com,4753393384,Data Export,Need monthly data dump in CSV.,Closed,2025-02-25,2025-03-07
4,Q0005,rmoore@example.net,8523755943,UI Feedback,Icons not intuitive.,Closed,2025-06-19,2025-06-20
...,...,...,...,...,...,...,...,...
5195,Q5196,fhenry@example.org,2758293072,Payment Failure,EMI option not available anymore.,Closed,2025-05-03,2025-05-09
5196,Q5197,robert82@example.net,2400038786,Technical Support,Freezing during screen load.,Closed,2025-05-17,2025-05-20
5197,Q5198,mclaughlinmichael@example.net,312901852,Login Issue,Forgot my password and reset isn’t working.,Closed,2025-06-25,2025-07-04
5198,Q5199,vaughnkristen@example.org,795334441,UI Feedback,Graphs too compressed on mobile view.,Closed,2025-07-15,2025-07-24
5199,Q5200,kenneth76@example.com,9953237970,Payment Failure,Payment failed due to card error.,Closed,2025-06-27,2025-07-05

In [ ]:
# Saved the DataFrame to a SQL table named 'client_query', replacing it if it already exists

df.to_sql('client_query',engine,index=False,if_exists='replace')

200

In [ ]:
# Droped all columns that contain only NaN (empty) values

df.dropna(axis=1, how='all', inplace=True)

In [ ]:
# Replaced all NaN values in the DataFrame with None

df = df.where(pd.notnull(df), None)

In [ ]:
# Created a sample DataFrame with user account information

data = {
    'username': ['user1', 'user2'],
    'hashed_password': ['hash1', 'hash2'],
    'role': ['client', 'support'],
    'email': ['user1@example.com', 'user2@example.com']
}
df = pd.DataFrame(data)

In [11]:
import streamlit as st